.titulo{
    margin: 15px;
}
.produto-moda
     {
        background-color: #BB86FC;
        color: #fff

     }
.produto-valor
    {
        background-color: #424250;
        color: #fff;
    }
.produto-casa
    {
        background-color: #00C4B4;
        color: #fff;
    }

  